<table class="custom-table">
     <thead>
          <tr>
               <th>Nome</th>
               <th>CNPJ</th>
               <th>Data de criação</th>
               <th>Ações</th>
          </tr>
     </thead>
     <tbody>
          <tr *ngFor="let companie of companies">
               <td>{{companie.name}}</td>
               <td>{{companie.cnpj}}</td>
               <td>{{companie.createdAt}}</td>
               <th *ngIf="typeActions == 'default'" class="actions">
                    <button class="edit action" (click)="goToEditPage(companie.id)"><i class="fa-solid fa-pen-to-square"></i></button>
                    <button (click)="openModal(companie.id)" class="trash action"><i class="fa-solid fa-trash"></i></button>
               </th>
               <th *ngIf="typeActions == 'edit'" class="actions">
                    <button class="edit action" (click)="goToEditPage(companie.id)"><i class="fa-solid fa-pen-to-square"></i></button>
               </th>
               <th *ngIf="typeActions == 'trash'" class="actions">
                    <button (click)="openModal(companie.id)" class="trash action"><i class="fa-solid fa-trash"></i></button>
               </th>
          </tr>
     </tbody>
</table>
<app-modal-confirm 
     *ngIf="isModalOpen" 
     [message]="modalDeleteMessage"
     (confirm)="onConfirmDelete($event)">
</app-modal-confirm>
<app-spinning [isLoading]="isLoading"></app-spinning>
