<div class="full-div">
     <div class="title">
          <h2>Últimos usuários ativos</h2>
     </div>

     <table class="custom-table">
          <thead>
               <tr>
                    <th>Nome</th>
                    <th>Role</th>
                    <th>Data de acesso</th>
               </tr>
          </thead>
          <tbody>
               @for (user of users; track $index) {
                    <tr>
                         <td>{{ user.name }}</td>
                         <td>{{ user.roleName }}</td>
                         <td>{{ user.lastAccess }}</td>
                    </tr>
               }
          </tbody>
     </table>
</div>