<app-admin-navbar></app-admin-navbar>
<div class="main-section appear">
     <app-info-top></app-info-top>

     <section class="first-options">
          <div class="option" [routerLink]="['/admin/families-create']">
               <div class="icon-div green">
                    <i class="fa-solid fa-user-plus icon"></i>
               </div>
               <p class="option-title">Cadastrar</p>
          </div>
          <div class="option" [routerLink]="['/admin/families-show']">
               <div class="icon-div blue">
                    <i class="fa-solid fa-eye icon"></i>
               </div>
               <p class="option-title">Familiares</p>
          </div>
          <div class="option" [routerLink]="['/admin/users-search-edit']">
               <div class="icon-div yellow">
                    <i class="fa-solid fa-pen-to-square icon"></i>
               </div>
               <p class="option-title">Atualizar</p>
          </div>
          <div class="option" [routerLink]="['/admin/users-search-delete']">
               <div class="icon-div red">
                    <i class="fa-solid fa-trash icon"></i>
               </div>
               <p class="option-title">Desativar</p>
          </div>
     </section>

     <!-- <app-admin-main-search-user-box [dropdown]="dropdown"></app-admin-main-search-user-box> -->
</div>
