<header>
     <nav>
       <!-- Botão do menu hamburguer, visível apenas no mobile -->
       <div class="hamburger" (click)="toggleMenu()" *ngIf="isMobile">
         <i class="fa fa-bars"></i>
       </div>
   
       <!-- Menu para ADMIN -->
       <ul *ngIf="admin && isMenuOpen">
         <li [ngClass]="{ 'selected-li': currentRoute === '/admin/master/dashboard' }">
           <a [routerLink]="['/verify']" [queryParams]="{ next: '/admin/master/dashboard' }">
             <i class="fa-solid fa-gauge icon"></i>Dashboard
           </a>
         </li>
   
         <li [ngClass]="{ 'selected-li': currentRoute.startsWith('/admin/master/users') }">
           <a [routerLink]="['/verify']" [queryParams]="{ next: '/admin/master/users-panel'}">
             <i class="fa-solid fa-user icon"></i>Usuários
           </a>
         </li>
   
         <li [ngClass]="{ 'selected-li': currentRoute.startsWith('/admin/master/companies') }">
           <a [routerLink]="['/verify']" [queryParams]="{ next: '/admin/master/companies-panel'}">
             <i class="fa-solid fa-building icon"></i>Empresas
           </a>
         </li>
   
         <li (click)="logout()">
           <a><i class="fa-solid fa-door-open icon"></i>Sair</a>
         </li>
       </ul>
   
       <!-- Menu para MODERADOR -->
       <ul *ngIf="moderador && isMenuOpen">
         <li (click)="logout()">
           <a><i class="fa-solid fa-door-open icon"></i>Sair</a>
         </li>
       </ul>
     </nav>
   </header>
   