<app-admin-master-navbar></app-admin-master-navbar>
<app-spinning [isLoading]="isLoading"></app-spinning>
<section class="main-section appear">
     <div class="full-div">
          <div class="title">
               <h2>Lista de usuários</h2>
          </div>
          <div class="full-div buttons-options">
               <button (click)="orderListAZ('name')" #nameOrderAZ class="search-options"><i class="fa-solid fa-sort button-icon"></i>{{ nameButtonOrderListAZ }}</button>
          </div>

          <app-companies-table [companies]="companies"></app-companies-table>
     </div>

</section>
