<app-admin-navbar></app-admin-navbar>
<section class="main-section appear">
     <app-info-top></app-info-top>
     <!-- <app-top-user-infos [title]="title"></app-top-user-infos> -->
     <section class="first-options">
          <div class="option" [routerLink]="['/verify']" [queryParams]="{ next: '/admin/master/users-create'}">
               <div class="icon-div green">
                    <i class="fa-solid fa-user-plus icon"></i>
               </div>
               <p class="option-title">Cadastrar</p>
          </div>
          <div class="option" [routerLink]="['/verify']" [queryParams]="{ next: '/admin/master/users-show'}">
               <div class="icon-div blue">
                    <i class="fa-solid fa-eye icon"></i>
               </div>
               <p class="option-title">Usuários</p>
          </div>
          <div class="option" [routerLink]="['/verify']" [queryParams]="{ next: '/admin/master/users-search-edit'}">
               <div class="icon-div yellow">
                    <i class="fa-solid fa-pen-to-square icon"></i>
               </div>
               <p class="option-title">Atualizar</p>
          </div>
          <div class="option" [routerLink]="['/verify']" [queryParams]="{ next: '/admin/master/users-search-delete'}">
               <div class="icon-div red">
                    <i class="fa-solid fa-trash icon"></i>
               </div>
               <p class="option-title">Desativar</p>
          </div>
     </section>

     <!-- <app-main-search-user-box></app-main-search-user-box>  -->

     <app-admin-last-active-users></app-admin-last-active-users>
</section>