<app-admin-master-navbar></app-admin-master-navbar>
<app-spinning [isLoading]="isLoading"></app-spinning>
<section class="main-section appear">
     <div class="full-div">
          <div class="title">
               <i class="fa-solid fa-list icon"></i>
               <h2>Lista de usuários</h2>
          </div>
          <div class="full-div buttons-options">
               <button (click)="orderListAZ('name')" #nameOrderAZ class="search-options"><i class="fa-solid fa-sort button-icon"></i>{{ nameButtonOrderListAZ }}</button>
               <button (click)="orderListAZ('email')" #emailOrderAZ class="search-options"><i class="fa-solid fa-sort button-icon"></i>{{ emailButtonOrderListAZ }}</button>
               <!-- <select class="search-options" #roleOrderAZ (change)="orderListAZ('role')">
                    <option disabled selected>Buscar pela role</option>
                    <option value="0">Admin</option>
                    <option value="1">Usuário</option>
               </select> -->
          </div>

          <app-users-table [users]="users"></app-users-table>
     </div>

</section>
