<div class="topbar">
     <div class="left">
          <div class="search-bar">
               <span class="icon">🔍</span>
               <input type="text" placeholder="Buscar funcionalidade" />
               <span class="shortcut">ENTER</span>
          </div>
     </div>
     
     <div class="center">
          <span class="icon bell">🔔<span class="dot"></span></span>
          <!-- <span class="icon">🧩</span> -->
          <span class="icon">⚙️</span>
          <span class="icon">🌙</span>
          <!-- <span class="icon">⛶</span> -->
     </div>

     <div class="right">
          <img class="avatar" src="{{ profile }}" alt="Avatar" />
          <div class="user-info">
               <span class="name">{{ username }}</span>
               <span class="role">{{ role }}</span>
          </div>
     </div>
</div>