<header>
     <nav>
          @if (moderador || admin) {
          <ul>
               <li><a href="/"><i class="fa-solid fa-gauge icon"></i>Dashboard</a></li>
               <li><a href="/admin/users"><i class="fa-solid fa-user icon"></i>Usuários</a></li>
               <li><a href="/admin/sectors"><i class="fa-solid fa-vector-square icon"></i>Setores</a></li>

               <li #callsToggle (click)="callsToggleDropdown()" class="dropdown-toggle">
                    <a>
                         <i class="fa-solid fa-headset icon"></i>
                         Chamados
                    </a>
               </li>
               <ul *ngIf="callsDropdownOpen" class="dropdown-content">
                    <li><a href="/call/open"><i class="fa-solid fa-phone-volume icon"></i>Abrir chamado</a></li>
                    <li><a href="/admin/call"><i class="fa-solid fa-headset icon"></i>Chamados</a></li>
                    <li><a href="/admin/history"><i class="fa-solid fa-clock-rotate-left icon"></i>Histórico</a></li>
                    <li><a href="/call/my"><i class="fa-solid fa-list-ul icon"></i>Meus chamados</a></li>
               </ul>

               <li (click)="logout()"><a><i class="fa-solid fa-door-open icon"></i>Sair</a></li>
          </ul>
          }
          @if (user) {
          <ul>
               <li><a href="/call/open"><i class="fa-solid fa-phone-volume icon"></i>Abrir chamado</a></li>
               <li><a href="/call/my"><i class="fa-solid fa-list-ul icon"></i>Meus chamados</a></li>
               <li (click)="logout()"><a><i class="fa-solid fa-door-open icon"></i>Sair</a></li>
          </ul>
          }
     </nav>
</header>