<div class="table-case">
     <table class="custom-table">
          <thead>
               <tr>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Data de criação</th>
                    <th>Ações</th>
               </tr>
          </thead>
          <tbody>
               <tr *ngFor="let user of users" (click)="openUserDetails(user.id)">
                    <td>{{ user.name }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.roleName }}</td>
                    <td>{{ user.createdAt }}</td>

                    <th *ngIf="typeActions == 'default'" class="actions">
                         <button 
                              class="edit action" 
                              (click)="goToEditPage(user.id); $event.stopPropagation()">
                              <i class="fa-solid fa-pen-to-square"></i>
                         </button>
                         <button 
                              (click)="openModal(user.id); $event.stopPropagation()" 
                              class="trash action">
                              <i class="fa-solid fa-trash"></i>
                         </button>
                    </th>
                    <th *ngIf="typeActions == 'edit'" class="actions">
                         <button 
                              class="edit action" 
                              (click)="goToEditPage(user.id); $event.stopPropagation()">
                              <i class="fa-solid fa-pen-to-square"></i>
                         </button>
                    </th>
                    <th *ngIf="typeActions == 'trash'" class="actions">
                         <button 
                              (click)="openModal(user.id); $event.stopPropagation()" 
                              class="trash action">
                              <i class="fa-solid fa-trash"></i>
                         </button>
                    </th>
               </tr>
          </tbody>
     </table>
     <app-modal-confirm 
          *ngIf="isModalOpen" 
          [message]="modalDeleteMessage"
          (confirm)="onConfirmDelete($event)">
     </app-modal-confirm>
</div>
<app-spinning [isLoading]="isLoading"></app-spinning>
