@use '../../../../../sass/color-variables' as *
     
.first-options
     display: flex
     justify-content: space-between
     gap: 30px
     margin: 20px auto
     width: 90%

.first-options .option
     border: 1px solid #ccc
     height: 70px
     width: 100%
     border-radius: 4px
     background-color: white
     position: relative
     cursor: pointer
     display: flex
     align-items: center
     justify-content: end
     transition: 0.5s
     box-shadow: 0px 2px 5px rgba(0,0,0,0.3)

.first-options .option:hover
     background-color: #ccc

.first-options .icon-div
     width: 30%
     height: 70px
     padding: 10px
     border-radius: 4px
     position: absolute
     top: -20%
     left: 6%
     display: flex
     justify-content: center
     align-items: center

.first-options .icon
     color: white
     font-size: 25px

.first-options .option-title
     text-align: end
     align-items: center
     font-size: 18px
     width: 70%
     text-align: center

.first-options .exibir
     width: 90%

.green
     background-color: #0a9f5a

.blue
     background-color: #3c8cbc

.yellow
     background-color: #f39c10

.red
     background-color: #dd4c39

.full-div .title 
     display: flex
     align-items: center
     justify-content: center
     padding: 0.5% 0
     font-size: 14px
     color: $text

.icon 
     font-size: 25px
     margin-right: 1%

.custom-table
  width: 100%
  border-collapse: collapse
  margin: 15px 0
  font-size: 14px
  text-align: left
  cursor: pointer

  thead
    background-color: #333
    color: white

  th, td
    padding: 10px
    border: 1px solid #ddd
    text-align: center

  tbody tr:nth-child(even) // Linhas pares com cor diferente
    background-color: #f2f2f2

  tbody tr:hover
    background-color: #ddd