@use 'sass/color-variables' as *
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,3000,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap')

*
     margin: 0
     padding: 0
     box-sizing: border-box
     font-family: 'Poppins', sans-serif

body
     background-color: #f5f7fa

.title
     border-bottom: 2px solid #ccc
     width: 70%
     margin: 7px auto
     display: flex

.main-section
     width: 86%
     height: 100vh
     padding: 2%
     margin-left: auto
     // background-color: red

     @media (max-width: 1024px)
          width: 100%
          margin-left: 0
          padding-top: 80px

.appear
     opacity: 0
     transform: translateY(10px)
     animation: fadeIn 0.5s ease-in-out forwards

@keyframes fadeIn
     from
          opacity: 0
          transform: translateY(5px)
     to
          opacity: 1
          transform: translateY(0)

.full-div
     width: 90%
     margin: auto
     // margin-top: 25px
     background-color: white
     border-radius: 6px
     border: 1px solid #ccc
     padding: 1% 5%
     box-shadow: 0px 2px 5px rgba(0,0,0,0.3)

.full-div .title
     display: flex
     align-items: center
     justify-content: center
     padding: 0.5% 0
     font-size: 12px
     color: $text

.full-div .icon
     font-size: 25px
     margin-right: 1%

.buttons-options
     display: flex
     flex-direction: row
     justify-content: start
     gap: 2%

.search-options
     padding: 10px
     border-radius: 10px
     border: 1px solid #ccc
     box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3)
     cursor: pointer

@media (max-width: 600px) 
     .full-div
          width: 100%
          padding: 2% 1%

     .buttons-options
          padding: 10px
          justify-content: space-around


//============= Estilo padrão para formulários dentro do main-form ===============

.main-form
     width: 70%
     display: flex
     flex-direction: column
     justify-content: center
     margin: auto

.main-form label
     margin-top: 10px

.main-form input, select
     padding: 14px
     border-radius: 10px
     border: 1px solid #ccc
     font-size: 15px

.main-form button
     padding: 15px
     border-radius: 10px
     border: 1px solid #ccc
     box-shadow: 0px 2px 5px rgba(0,0,0,0.3)
     margin: 10px 0px
     margin-top: 20px
     background-color: $primary
     color: white
     font-size: 16px
     cursor: pointer

     &:hover
          background-color: $secundary

@media (max-width: 600px)
.main-form
     width: 80%

//============= Estilo padrão para opções flutuantes de menu =============

.first-options
     display: flex
     justify-content: space-between
     gap: 30px
     margin: 20px auto
     width: 90%

.first-options .option
     border: 1px solid #ccc
     height: 70px
     width: 100%
     border-radius: 4px
     background-color: white
     position: relative
     cursor: pointer
     display: flex
     align-items: center
     justify-content: end
     transition: 0.5s
     box-shadow: 0px 2px 5px rgba(0,0,0,0.3)

.first-options .option:hover
     background-color: #ccc

.first-options .icon-div
     width: 30%
     height: 70px
     padding: 10px
     border-radius: 4px
     position: absolute
     top: -20%
     left: 6%
     display: flex
     justify-content: center
     align-items: center

.first-options .icon
     color: white
     font-size: 25px

.first-options .option-title
     text-align: end
     align-items: center
     font-size: 20px
     width: 70%
     text-align: center
     color: $text

.first-options .exibir
     width: 90%

.green
     background-color: #0a9f5a

.blue
     background-color: #3c8cbc

.yellow
     background-color: #f39c10

.red
     background-color: #dd4c39

@media (max-width: 600px)
     .first-options
          display: flex
          flex-direction: column

//============= Estilo padrão para tabelas =============

.custom-table
     width: 100%
     border-collapse: collapse
     margin: 15px 0
     font-size: 14px
     text-align: left
     cursor: pointer
     background-color: white

     thead
          background-color: #333
          color: white

     th, td
          padding: 10px
          border: 1px solid #ddd
          text-align: center

     tbody tr:nth-child(even) // Linhas pares com cor diferente
          background-color: #efefef

     tbody tr:hover
          background-color: #ddd

.actions
     display: flex
     gap: 8%
     align-items: center
     justify-content: center

.action
     padding: 5px
     width: 30px
     height: 30px
     border: 1px solid #2e2e2e
     box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3)
     border-radius: 5px
     cursor: pointer

.edit
     background-color: yellow

.trash
     color: white
     background-color: red

@media (max-width: 600px) 
     .table-case
          overflow-x: auto

//============= Estilo padrão para box de pesquisa =============

.search-student 
     width: 100%
     margin-top: 25px
     background-color: white
     border-radius: 6px
     border: 1px solid #ccc
     padding: 1% 5%
     box-shadow: 0px 2px 5px rgba(0,0,0,0.3)


.search-student .title 
     display: flex
     align-items: center
     justify-content: center
     padding: 0.5% 0
     font-size: 14px  
     color: $text   


.input 
     display: flex
     justify-content: center
     margin-top: 1%
     padding-bottom: 2%


.input input 
     width: 80%
     padding: 15px
     border: 1px solid #ccc
     border-radius: 8px 0 0 8px


.input .input-button 
     padding: 15px
     width: 15%
     font-size: 18px
     border: 1px solid #ccc
     background-color: $primary
     border-radius: 0 8px 8px 0
     color: white
     cursor: pointer

     &:hover
          background-color: $secundary

.search-student .icon 
     font-size: 25px
     margin-right: 1%

@media (max-width: 600px)
     .search-student 
          margin-top: 0px
          padding: 2% 5%

     .search-student .title 
          width: 100%    
          text-align: center

     .input .input-button 
          width: 35%
          padding: 15px 10px