<header>
     <nav>
          <!-- Botão do menu hamburguer, visível apenas no mobile -->
          <div class="hamburger" (click)="toggleMenu()" *ngIf="isMobile">
               <i class="fa fa-bars"></i>
          </div>

          <!-- Menu para ADMIN -->
          <ul *ngIf="admin && isMenuOpen">
               <li [ngClass]="{ 'selected-li': currentRoute === '/admin/dashboard' }">
                    <a [routerLink]="['/admin/dashboard']">
                         <i class="fa-solid fa-gauge icon"></i>Dashboard
                    </a>
               </li>

               <li [ngClass]="{ 'selected-li': currentRoute.startsWith('/admin/users-') }">
                    <a [routerLink]="['/admin/users-panel']">
                         <i class="fa-solid fa-user icon"></i>Usuários
                    </a>
               </li>

               <li (click)="logout()">
                    <a><i class="fa-solid fa-door-open icon"></i>Sair</a>
               </li>
          </ul>

          <!-- Menu para MODERADOR -->
          <!-- <ul *ngIf="moderador && isMenuOpen">
               <li (click)="logout()">
                    <a><i class="fa-solid fa-door-open icon"></i>Sair</a>
               </li>
          </ul> -->
     </nav>
</header>