<section class="search-student">
     <div class="title">
          <p>{{ title }}</p>
     </div>

     <form *ngIf="dropdown" (submit)="search($event)">
          <div class="input">
               <input type="text" id="searchInput" name="student-name"
                    placeholder="{{ placeholder }}"
               (input)="search($event)"
               autocomplete="off">
               <button class="input-button" type="submit">Pesquisar</button>
          </div>
     </form>

     <form *ngIf="dropdown == false" (submit)="search($event)">
          <div class="input">
               <input type="text" id="searchInput" name="student-name"
                    placeholder="{{ placeholder }}">
               <button class="input-button" type="submit">Pesquisar</button>
          </div>
     </form>

     @if (families.length > 0 && dropdown) {
          <div class="input-container">
               <!-- <input ... /> -->
               <ul class="results-list">
                    <li *ngFor="let family of families" (click)="openFamiliesDetails(family.id)">
                         <img src="/perfil-photo.png">
                         <p>|&nbsp;&nbsp;{{ family.name }}&nbsp;&nbsp;|&nbsp;&nbsp;
                            {{ family.type }}&nbsp;&nbsp;|&nbsp;&nbsp;
                            {{ family.email }}&nbsp;&nbsp;|&nbsp;&nbsp;
                            {{ family.createdAt }}&nbsp;&nbsp;|&nbsp;&nbsp;
                            {{ family.phone }}
                         </p>
                    </li>
               </ul>
          </div>
     }

</section>
<app-spinning [isLoading]="isLoading"></app-spinning>